body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squares {
    display: flex;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 80px;
    height: 80px;
    border: 2px solid blue;
}

.quote {
    background-color: #e5e7eb;
    flex: 1;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: #3882f6;
}

.button-bottom {
    height: 36px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 48px;
}